@import './palette';

.LoginCmp {
  .rememberMe {
    font-weight: normal;
    margin-top: 10px;
  }
  .decorativeInput {
    background-image: url(/images/text-field-icons.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 10px 35px 10px 10px;
    width: 100% !important;
    background-size: 40px 171px;
    &[type=tel] {
      background-position: right -130px;
    }
    &[type="password"] {
      background-position: right -78px;
    }
  }

  button.block {
    padding: 20px 27px;
    font-weight: 500;
  }
}