@import '../../../styles/palette.scss';

.Header {
  padding-top: 64px;
  & .logo-icon {
    transform:rotate(180deg);
    display:block;
    fill:currentColor;
    height:1em;
    width:1em;
  }
  & div.header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    display: table;
    position: fixed;
    background: #fff;
    z-index: 1;
    &.hover {
      border-bottom: solid 1px #ccc;
    }
    & > div {
      display: table-cell;
    }
    & .logo {
      vertical-align: middle;
      padding: 15px 24px;
      & svg {
        font-size: 34px;
        color: map-get($colors, primary);
      }
    }
    & .center{
      width: 100%;
    }
    .menu {
      & > nav {
        & > ul {
          list-style: none;
          display: table;
          height: 61px;
          margin: 0px;
          & > li {
            display: table-cell;
            & > a, & > button{
              padding: 0px 16px;
              white-space: nowrap;
              border: none;
              height: 100%;
              line-height: 61px;
              background-color: transparent;
              display: block;
              cursor: pointer;
              font-size: 14px;
              color: inherit;
              & span {
              }
            }
          }
        }
      }
    }
  }

  &.app {
    .header {
      border-bottom: solid 1px map-get($colors, border);
      .logo {
        border-right: solid 1px map-get($colors, border);
      }
    }
  }
}
