.LossDate {
  .lgForm {
    .formItem {
      &.timeType {
        width: 140px;
      }
      
      &.date {
        text-align: center;

        .dateRange {
          line-height: 38px;
          width: 100%;
        }
        .dateInner {
          display: table;
          width: 100%;
          .dateHolder {
            display: table-cell;
            width: 78px;
            float: left;
          }
          .iconHolder {
            display: table-cell;
            width: 24px;
            margin: 0px 5px;
            svg {
              vertical-align: middle;
              fill: #484848;
              height: 24px;
              width: 24px;
            }
          }
        }
      }
      .dateContainer {
        width: 100%;
        & > button {
          width: 100%;
        }
      }
    }
  }
}
