@import './palette';

.UserInfo {
  & > div {
    padding: 0px;
    padding-bottom: 20px;
  }
  .avatar {
    width: 100%;
    img {
      width:100%;
      height: auto;
    }
  }
  h1 {
    margin: 20px 0px;
  }
}