.Search {
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .mainContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .leftContainer {
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      left: 0px;
      right: 33.333333%;
      top: 0px;
      bottom: 0px;
      overflow: auto;
    }

    .rightContainer {
      position: absolute;
      right: 0px;
      width: 33.333333%;
      top: 0px;
      bottom: 0px;
    }
  }
}